body {background:#fff url("/images/bg_head.png") 0 -70px repeat-x;color:#1a1a1a;margin:0;font-family:'Muli',sans-serif;}
a:hover,a:visited,a {color:#1a1a1a;text-decoration:none;}
a:hover {color:#4D90FE;}
.error {color:red;vertical-align:top;}
.warning {color:orange;vertical-align:top;}
.info {color:blue;vertical-align:top;}
.hide {display:none;}
.title {font-weight:normal;}
.showBock {display:block;}
.showInline {display:inline;}
footer {text-align:center;font-size:12px;}

/*
**
** header
**
*/

header {width:1024px;height:90px;margin:auto;}
header #logo {padding-top:20px;}

/*
**
** Content
**
*/

body > section {width:1024px;min-height:300px;margin:auto;}

/*
**
** index
**
*/

.box {
  background:#fff url("/images/bg_box.png") 0 0 repeat-x;
  border-left:1px solid #d4d4d4;
  border-right:1px solid #d4d4d4;
  border-bottom:1px solid #d4d4d4;
  box-shadow:2px 2px 3px #888;
  border-radius:10px;
}

#connexion {
  width:265px;
  height:160px;
  margin:80px auto;
  padding-top:10px;
}

#errorConnexion {padding: 0 !important;}

input[type="text"],
input[type="password"] {
  font-family:'Muli', sans-serif;
  font-size:18px;
  width:220px;
  height:25px;
  margin:10px 20px;
}

.button,
input[type="button"],
input[type="submit"] {
    background:#fff url("/images/bg_button.png") 0 0 repeat-x;
    border:1px solid #c8c8c8;
    color:#1A1A1A;
    cursor:pointer;
    font:11px/27px 'Muli',sans-serif;
    height:29px;
    min-width:54px;
    padding:0 8px;
    text-align:center;
}
.button:hover, input[type="button"]:hover, input[type="submit"]:hover {color:#4D90FE;}
#submitForm {margin-top:10px;margin-left:160px;}
/*
**
** config
**
*/

#users section#content section label {width:150px;display:inline-block;margin: 5px 0}
#users section#content section input[type=text], #users section#content section input[type=password] {width:250px;display:inline-block;margin:5px 0}
/*#users section#content section input[type=submit], #users section#content section input[type=button] {display:inline-block;text-align:right;}*/
#users section#content section select {width:256px;display:inline-block;margin:5px 0}

/*
**
** interface
**
*/

#logo {float:left;}
header nav {margin-top:45px;margin-left:460px;float:left;}
header nav div {float:left;}
header nav div.link {padding:8px 20px 0 5px;}
aside {width:390px;height:170px;float:left;margin:80px 0 80px 0;}
aside#leftSide {margin-left:100px;}
aside#rightSide {margin-left:50px;}
aside div {height:100%;}
div.icon {padding:0 20px;width:60px;float:left;}
aside div.icon {padding:20px;width:60px;float:left;}
aside .menu h1 {font-size:22px;color:#202020;}
nav li {list-style:none;padding:2px 0;}
aside .menu nav ul {padding-left:70px;}
#users section#content {min-height:500px;}
#users section#content div.icon {height:100%;width: 60px;}
section > div > nav {width:150px;min-height:100px;border-right:2px solid #c4c4c4;float:left;}
section > div > nav ul {margin:0;padding: 0;}
section > div > nav ul li {font-size:12px;}
section > div > nav ul li.selected {font-weight:bold;}
section > div > section {margin-left:20px;float:left;width:750px;text-align:right;}
section > div > section table {text-align:left;border-collapse:collapse;width:100%}
section > div > section a.button {padding:5px;}
section > div > section table#userList {width:100%;margin-top:20px;}
section > div > section table th {font-weight:normal;border: 1px solid #333;border-top:none;padding:0 5px;}
section > div > section table th.col-0 {width:250px;}
section > div > section table th.col-1 {}
section > div > section table th.col-2 {width:160px;}
section > div > section table th.col-3 {width:60px;}
section > div > section table td.col-2 {text-align:center;}
section > div > section table td.col-3 {text-align:center;}
section > div > section table td.col-3 div a {padding:0 5px;}
section > div > section table td.action {width:50px;}
section > div > section table tr.rows {height:25px;}
section > div > section table#userList tr.impair {background-color:#efefef;}
/*section > div#notice {display:none;}*/
/*
**
** edition
**
*/

section > section#edition {margin:25px 240px;padding:10px 0 20px 25px;width:500px;}
section > section#edition table{width:95%;margin:10px 15px;}
section > section#edition select{width:83%;margin:10px 20px;padding:8px;}
section > section#edition input[type=text],
section > section#edition input[type=password] {width: 300px;}
section > section#edition input[type=submit] {float:right;}

/*
**
** action
**
*/
section > section#action {margin:25px 240px;padding:10px 0 20px 25px;width:500px;}
section > section#action div.box {width:95%;padding:10px 15px;}
section > section#action div.box h1 {margin:0px;}
section > section#action input[type=submit],
section > section#action input[type=button] {float:right;margin:10px 0 0 10px;}

/*
**
** server
**
*/

section > h1.editServer {float:left;}
section > div.buttons {float:right;margin:20px;}
section > div#server {clear:both;}
section > div#server div.rightCol {float:left;margin:0 35px;width:65%;}
section > div#server div.rightCol form h1 {margin:0;}
section > div#server div.rightCol form table {margin:20px 0;width:100%}
section > div#server div.rightCol form table tbody tr > td {width:120px;}
section > div#server div.rightCol form table input[type=submit] {float:right;}
section > div#server div.rightCol form input, section > div#server div.rightCol form select {margin:10px 20px;}
section > div#server div.rightCol form select {width:230px;padding:8px;}

section > div section table td {padding:0 5px;vertical-align: middle;}
section > div section table td:first-child {width:25px;}
section > div section table td:last-child {width:65px;text-align:center;}
section > div section table td:last-child div.action a {margin-right:5px;}

/*
**
** unavailable
**
*/

section div#unavailable {text-align:center;}
